includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    bootstrapFiles:
        - phpstan-bootstrap.php
        - phpstan-wpcli-functions.php
    paths:
        - src
    excludePaths:
        - assets
